body{
    background-color: #ffffff!important;
}

.jumbotron_edge{
    border-radius: 0!important;
}
.jumbotron_green{
    background-color: #81d2e0;
}

.needs-validation {
    padding-left: 10%;
    padding-right: 10%;
}
.container-big {
    margin-left: 0%;
    margin-right: 0%;
}

/* mapListSelectPage, same css as responsive web design for images */
.mapContainer{
    border: 1px solid #52354C;
}
#map {
    width: 100%;
    height: 500px;
}

/* google font section remove after decision */

.fredericka{
    font-family: 'Fredericka the Great', cursive;
}
.ptserif{
    font-family: 'PT Serif', serif;
}

/* color section */
/* header text */
.purp{ 
    color: #52354C!important;
}

/* button background */
.purpback{ 
    background-color: #52354C!important;
}

/* background */
.green{ 
    /* background-color:#e6186d!important; */
    background-color:#3fb990;
}
.icy-blueback{
    background-color: #81d2e0;
}
.tan_bottom{
    /* border-bottom: 20px solid #edb625; */
    border-bottom: 20px solid #e6186d;
}
.grey_back{
    background-color: #ffffff;
    padding-top: 20px;
    padding: 10px;
    font-size: 20px;
}
.clearance{
    margin-bottom: 0;
}
/*FLEXBOX FOR FINALSELECT.HTML*/

.slack_container{
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;

}
.slack_item{
    padding: 10px;
}

.size_ten{
    width: 100px;
    line-height: 20px;
}
.spacetop{
    padding-top: 50px;
    text-align: center;
}

.btn-primary  {
    border: 0px;
}

.buddy-list {
    /* background-color: #81d2e0; */
    background-color: white;
}

.smallpad   {
    padding: 40px 20px;
}

/* #name  {
    text-decoration:none;
    text-decoration-color: #e6186d;
} */

#slack  {
    color: white;
}